* {
  box-sizing: border-box;
}

a {
  display: inline-block;
}

object {
  pointer-events: none;
}

button {
  cursor: pointer;
  color: inherit;

  &:disabled {
    pointer-events: none;
    color: inherit;
  }
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

[contenteditable="true"] {
  cursor: text;
  white-space: pre-line;

  &:empty {
    &:before {
      content: attr(placeholder);
      color: gray;
    }

    &:focus {
      &:before {
        content: "";
      }
    }
  }
}

address {
  font-style: normal;
}

iframe {
  border: none;
}

button,
input,
optgroup,
select,
textarea,
fieldset {
  font-family: inherit;
  font-size: 100%;
}

label {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"],
input[type="range"] {
  cursor: pointer;
}
