@use "sass:map";
@use "styles/constants/colors" as *;

$text-highlight--color: map.get($colors, "green", 2);

/* WEBKIT / BLINK BROWSERS */
::selection {
  background: $text-highlight--color;
}

/* GECKO BROWSERS */
::-moz-selection {
  background: $text-highlight--color;
}
