@use "sass:list";
@use "sass:math";
@use "styles/constants/typography" as *;

$global-header-size: $h1-size;
@each $header-tag in $header-tags {
  $min: list.nth($global-header-size, 1);
  $default: list.nth($global-header-size, 2);
  $max: list.nth($global-header-size, 3);

  $font-size: clamp($min, $default, $max);
  #{$header-tag} {
    font-size: $font-size;
    line-height: 120%;
    margin-block: 3rem;
  }

  $global-header-size: (
    $min * $header-scale,
    $default * $header-scale,
    $max * $header-scale
  );
}

p {
  $min: list.nth($paragraph-size, 1);
  $default: list.nth($paragraph-size, 2);
  $max: list.nth($paragraph-size, 3);

  font-size: clamp($min, $default, $max);
  line-height: 120%;
  margin-block: 0.5rem;
}
