/*--------------------------------------------------------------
# Base Colors
--------------------------------------------------------------*/
$colors: (
  /*--------------------------------------------------------------
    # Brand Colors
        5 - strongest color strength, 1 - weakest color strength
    --------------------------------------------------------------*/
    "brand-blue":
    (
      5: #3b6ceb,
      4: #467eeb,
      3: #6f97ff,
      2: #8eabf8,
      1: #b7cbff,
    ),
  /*--------------------------------------------------------------
    # Pallete
        4 - strongest color strength, 1 - weakest color strength
    --------------------------------------------------------------*/
    "green":
    (
      4: #259b93,
      3: #40c9a2,
      2: #a3f7b5,
      1: #e5f9e0,
    ),
  "blue": (
    4: #4361ee,
    3: #abc4ff,
    2: #c1d3fe,
    1: #e2eafc,
  ),
  "yellow": (
    4: #ffec5c,
    3: #ffee70,
    2: #fff599,
    1: #ffffb7,
  ),
  "orange": (
    4: #ff9500,
    3: #fdb119,
    2: #ffc875,
    1: #ffe7b4,
  ),
  "purple": (
    4: #9381ff,
    3: #b8b8ff,
    2: #cdc1ff,
    1: #e5d9f2,
  ),
  "pink": (
    4: #ffa6c1,
    3: #ffc4d6,
    2: #fad2e1,
    1: #fde2e4,
  )
);

/*--------------------------------------------------------------
# Background Colors
--------------------------------------------------------------*/
$backgrounds: (
  "ghost-white": #f8f7ff,
  "antique-white": #ffeedd,
  "mint-cream": #dbe7e4,
  "alice-blue": #d6e2e9,
);

/*--------------------------------------------------------------
# Shadow Colors
    4 - strongest color strength, 1 - weakest color strength
--------------------------------------------------------------*/
$shadows: (
  4: rgba(0, 0, 0, 0.3),
  3: rgba(0, 0, 0, 0.25),
  2: rgba(0, 0, 0, 0.2),
  1: rgba(0, 0, 0, 0.15),
);

$neutral-colors: (
  light-gray: #f2f2f2,
);
