/*--------------------------------------------------------------
# Brand Colors
    5 - strongest color strength, 1 - weakest color strength
--------------------------------------------------------------*/
$brand-blue-5:                  #3B6CEB;
$brand-blue-4:                  #467EEB;
$brand-blue-3:                  #6F97FF;
$brand-blue-2:                  #8EABF8;
$brand-blue-1:                  #B7CBFF;

/*--------------------------------------------------------------
# Pallete
    4 - strongest color strength, 1 - weakest color strength
--------------------------------------------------------------*/
$green-4:                      #259b93;
$green-3:                      #40C9A2;
$green-2:                      #A3F7B5;
$green-1:                      #E5F9E0;

$blue-4:                       #4361EE;
$blue-3:                       #ABC4FF;
$blue-2:                       #C1D3FE;
$blue-1:                       #E2EAFC;

$yellow-4:                     #FFEC5C;
$yellow-3:                     #FFEE70;
$yellow-2:                     #FFF599;
$yellow-1:                     #FFFFB7;

$orange-4:                     #FF9500;
$orange-3:                     #fdb119;
$orange-2:                     #ffc875;
$orange-1:                     #ffe7b4;

$purple-4:                     #9381FF;
$purple-3:                     #B8B8FF;
$purple-2:                     #CDC1FF;
$purple-1:                     #E5D9F2;

$pink-4:                       #FFA6C1;
$pink-3:                       #FFC4D6;
$pink-2:                       #FAD2E1;
$pink-1:                       #FDE2E4;

/*--------------------------------------------------------------
# Background Colors
--------------------------------------------------------------*/
$ghost-white:                  #F8F7FF;
$antique-white:                #FFEEDD;
$mint-cream:                   #DBE7E4;
$alice-blue:                   #D6E2E9;