$h1-size: (2.6em, 3.3vw, 3.3em);
$header-tags: ("h1", "h2", "h3", "h4", "h5", "h6");
// how much each subsequent header will decrease in size
$header-scale: 0.95;

$paragraph-size: (0.97em, 1.13vw, 1.05em);
