/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
html,
body {
  margin: 0;
  // ADD FONT HERE - add $font-name in front of Verdana to enable custom fonts
  // font-family: $font-name
  font-family: Verdana; // variables defined in './branding/typography'
  // scroll-behavior: smooth;
}

main.site-content {
  // text-align: center;
}

/*--------------------------------------------------------------
# Helper
--------------------------------------------------------------*/
.hide {
  display: none !important;
}