/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
html,
body {
  margin: 0;
  font-family: Verdana; 
  scroll-behavior: smooth;
}

main.site-content {
  text-align: center;
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
a {
  color: inherit;
  text-decoration: none;
}

object {
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Helper
--------------------------------------------------------------*/
.hide {
  display: none !important;
}